<AuButtonGroup class="au-o-box" @inline={{true}}>
  <LinkTo @route="task.input-containers-files">
    <AuButton class="is-active">
      {{t "jobs.tasks.icf.link_input"}}
    </AuButton>
  </LinkTo>
  <LinkTo @route="task.results-containers-files">
    <AuButton>
      {{t "jobs.tasks.icf.link_result"}}
    </AuButton>
  </LinkTo>
  <LinkTo @route="task.input-containers-graph">
    <AuButton @skin="secondary" class="is-active">
      {{t "jobs.tasks.icf.link_input_graphs"}}
    </AuButton>
  </LinkTo>
  <LinkTo @route="task.results-containers-graph">
    <AuButton>
      {{t "jobs.tasks.icf.link_result_graphs"}}
    </AuButton>
  </LinkTo>
  <LinkTo @route="task.input-containers-harvesting-collections">
    <AuButton>
      {{t "jobs.tasks.icf.link_remote"}}
    </AuButton>
  </LinkTo>
</AuButtonGroup>

<AuHeading @skin="3" class="au-o-box">{{t "jobs.icg.title"}}</AuHeading>

{{#let (t "jobs.icg.data.nodata")
       (t "jobs.icg.data.uri")
  as | nodata uri |}}
  <AuDataTable
    @content={{this.model}}
    @noDataMessage={{nodata}}
    as |t|>
    <t.content as |c|>
      <c.header>
      <th class="au-u-visible-small-up">{{uri}}</th>
      </c.header>
      <c.body as |row|>
        <td class="au-u-visible-small-up">
          {{row.hasGraph}}
        </td>
      </c.body>
    </t.content>
  </AuDataTable>
{{/let}}

{{outlet}}
