<AuToolbar @size="large" as | Group |>
  <Group>
    <AuHeading @skin="2">Job Overview</AuHeading>
  </Group>
  {{#if this.isFiltering}}
    <Group>
      <AuButton
        @icon="undo"
        @iconAlignment="left"
        {{on 'click' this.resetFilter}}>
        Reset all filters
      </AuButton>
    </Group>
  {{/if}}
</AuToolbar>
<AuToolbar @size="large" as | Group |>
  <Group>
    <div class="au-c-form--inline au-u-flex--inline au-u-flex--wrap">
      <CreatorFilter
        class="au-u-margin-right-small"
        @value={{this.creatorValue}}
        @onChange={{perform this.updateSearch}}/>
      <OperationFilter
        class="au-u-margin-right-small"
        @value={{this.operationValue}}
        @onChange={{perform this.updateSearch}}/>
    </div>
  </Group>
</AuToolbar>

<AuDataTable
  @content={{this.model}}
  @isLoading={{this.queryStore.isRunning}}
  @fields="title description"
  @noDataMessage="No jobs found"
  @sort={{this.sort}}
  @size={{this.size}}
  @page={{this.page}} as |t|>
  <t.content as |c|>
    <c.header>
      <th class="au-u-visible-small-up">uri</th>
      <AuDataTableThSortable @field="created" @currentSorting={{this.sort}} @label="Created" @class="data-table__header-title" />
      <AuDataTableThSortable @field="modified" @currentSorting={{this.sort}} @label="Modified" @class="data-table__header-title" />
      <AuDataTableThSortable @field="creator" @currentSorting={{this.sort}} @label="Creator" @class="data-table__header-title" />
      <AuDataTableThSortable @field="operation" @currentSorting={{this.sort}} @label="Operation" @class="data-table__header-title" />
      <AuDataTableThSortable @field="status" @currentSorting={{this.sort}} @label="Status" @class="data-table__header-title" />
      <th class="au-u-visible-small-up">Action</th>
    </c.header>
    <c.body as |row|>
      <td>
        {{row.uri}}
      </td>
      <td>
        {{format-date row.created 'dd/MM/yyyy HH:mm:ss'}}
      </td>
      <td class="au-u-visible-small-up">
          {{format-date row.modified 'dd/MM/yyyy HH:mm:ss'}}
      </td>
      <td class="au-u-visible-medium-up">
          {{row.creator}}
      </td>
      <td class="au-u-visible-small-up au-word-wrap">
          {{row.operation}}
      </td>
      <td class="au-u-visible-small-up">
          <StatusPill @status={{row.shortStatus}}></StatusPill>
      </td>
      <td class="au-u-visible-large-up">
        <LinkTo @route="details" @model={{row}} >
          <AuButton @skin="primary">
            view
          </AuButton>
        </LinkTo>
      </td>
    </c.body>
  </t.content>
</AuDataTable>
